body {
    background-color: #2B303B;
}

.row {
    margin-top: 30px;
}

.fa {
    color: white;
    opacity: 0.8;
}

.fa-bell {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.fa-exclamation {
    color: #2B303B;
}

.fa-20x {
    font-size: 20em;
}

