body {
    background-color: #F3F2F3;
}

.row {
    margin-top: 30px;
}

.bell-wrapper {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    transition: 1s ease-in-out;
    position: relative;
}

.img-centered {
    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.img-ring {
    opacity: 0;
    transition: opacity 1s ease;
    top: 100px;
    width: 100px;
    height: 100px;
}
