body {
    background-color: #2B303B;
}

.row {
    margin-top: 30px;
}

.fa {
    color: white;
    opacity: 0.8;
}

.bell-wrapper {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.fa-exclamation {
    color: #2B303B;
}

.fa-20x {
    font-size: 20em;
}

.bell-img {
    background: url('dingding.jpg') no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    top: 100px;
    left: 35%;
    right: 35%;
    height: 300px;
}
